@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}
.Header-Section{
    height: 100px;
    position: fixed;
    width: 100%;
}
.Header-Section .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}


/*----------------- Banner-Section ----------------- */


.Banner-Section{
    background-image: url(./images/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px; 
 
}
.Banner-Section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Banner-Section .container h1{
    font-size: 65px;
    font-family:  'Raleway', sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    
}
.Banner-Section .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    color: #ffffff;
    margin-top: 42px;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 110px;
}
.Banner-Section .container a{
    font-size: 13px;
    font-weight: 600;
    padding: 20px 46px;
    color: #e6d9d9;
    font-family: 'Raleway', sans-serif;
    background-color: #E84545;
    border-radius: 2px;
 }


/* -------------- Service-Section -------------- */

.Service-Section{
    padding: 120px 0;
}
.Service-Section .container{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 80px;
    

}
.Service-item{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}
.Service-item h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: black;
    margin-top: 36px;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.Service-item p{
    text-align: center;
    color: #6C7279;
    
}
  





















