@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}
.Header-Section{
    height: 100px;
    position: fixed;
    width: 100%;
}
.Header-Section .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}


/*----------------- Banner-Section ----------------- */


.Banner-Section{
    background-image: url(./images/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px; 
 
}
.Banner-Section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Banner-Section .container h1{
    font-size: 65px;
    font-family:  'Raleway', sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    
}
.Banner-Section .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    color: #ffffff;
    margin-top: 42px;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 110px;
}
.Banner-Section .container a{
    font-size: 13px;
    font-weight: 600;
    padding: 20px 46px;
    color: #e6d9d9;
    font-family: 'Raleway', sans-serif;
    background-color: #E84545;
    border-radius: 2px;
 }


/* -------------- Service-Section -------------- */

.Service-Section{
    padding: 120px 0;
}
.Service-Section .container{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 80px;
}
.Service-item{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 26px;
}
.Service-item h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2D3033;
    margin-top: 36px;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.Service-item p{
    text-align: center;
    color: #6C7279;
    
}



        /*---------------- gallery-Section -------------- */

.gallery-Section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;

}
.gallery-Section .gallery-item{
    max-width: calc(25% - 1px);
    position: relative;
    cursor: pointer;
    
}
.gallery-Section .gallery-item img{
    width: 100%;
    height: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.gallery-Section .gallery-item:hover .overlay{
    background-color: rgba(218, 71, 71, 0.7);
}

.gallery-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s;
}

.gallery-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}

.gallery-content p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.gallery-Section .gallery-item:hover .gallery-content{
    opacity: 1;
}


        /* -------------team section -------------- */

.team-section{
    padding: 100px 0;

}
.team-section .container{
    display: flex;
    justify-content: space-between;
}
.team-member{
    max-width: calc(25% - 22.5px);
    
}
.team-member h3, .team-member p{
    font-family: 'Raleway', sans-serif;
}

.team-member h3{
    font-size: 22px;
    color: #2D3033;
    margin-top: 30px;
    margin-bottom: 16px;
}

.team-member h4{
    font-size: 13px;
   text-transform: uppercase;
    color: #E84545;
}
.team-member p{
    font-size: 14px;
    color: #898E94;
    margin: 30px 0;
    padding-right: 22px;
}
.team-member_social-icon{
    display: flex;
   column-gap: 4px;
}
.team-member_social-icon a{
    height: 40px;
    width: 40px;
    border: 1px solid #E8ECEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member_social-icon a i{
    color: #C6CACC;
}


  /* ------------- testimonial section -------------- */

.testimonial-section{
    background-color: #53354A;
}

.testimonial-content{
    display: flex;
}
.tc-item{
    width: 55%;
}
.testimonial-image img{
    width: 100%;
    height: 100%;
}
.testimonial-text{
    padding-top: 115px;
    padding-left: 80px;
}
.testimonial-text p:first-of-type{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    padding-right: 210px;
}
.testimonial-text p:last-of-type{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    font-family: 'Cardo', serif;
    text-transform: uppercase;
    margin-top: 28px;
}

.indicator{
    display: flex;
    margin-top: 64px;
    margin-left: 200px;
    column-gap: 8px;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;
}
.indicator .indicator-item:nth-child(2){
    background-color: #fff;
}



    /* -------------- Download-section --------------- */

.Download-section{
    text-align: center;
    padding: 100px 0;
}
.Download-section p{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #737577;
}
.Download-section h5{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 36px;
}
.Download-section a{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    background-color: #E84545;
    color: #fff;
    padding: 13px 85px;
    border-radius: 1px;

}


        /* ------------- fotter-section -------------- */

.fotter-section{
    background-color: #3A3E64;
}
.fotter-part{
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    text-align: center;
}

.fotter-section_1{
    width: 30%;
}
.fotter-section_2{
    width: 30%;
}
.fotter-section-3{
    width: 30%;
}
.fotterr{
    font-size: 14px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    margin-bottom: 22px;
}
.fotterpara{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #7C7E98;
}



        /* -------------- last-section -------------- */

.last-section{
    width: 100%;
    background-color: #313454;
    padding: 30px 0;
    text-align: center;
}
.last-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7C7E98;

}
.last-section-text{
    padding: 0 590px;
}
.parraa{
    color: #fff;
    font-size: 15px;
}









